/*
 * tab.sass
 *
 * Copyright 2014 Fantasy Shao
 *
 * @description 
 * @author fantasy
 * @create 2014-11-21
 * @update 2014-11-25
 */

.t-tab-bottom
  position: absolute
  bottom: 0
  left: 0
  width: 100%
  font-size: 0
  border-top: 1px solid $border-color
  .tab-item
    display: inline-block
    text-align: center
    padding: 0.5rem 0
    a
      display: inline-block
      width: 100%
      height: 100%
    .item-logo
      font-size: 2rem
    .item-name
      font-size: 1.4rem


