/*
 * util.sass
 *
 * Copyright 2014 Fantasy Shao
 *
 * @description
 * @author fantasy
 * @create 2014-11-20
 * @update 2014-11-25
 */

.clearfix
  &:after
    content: ""
    display: table
    clear: both

.hidden
  display: none !important